In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('users.6M0xxK.2024.public.csv')
df.head(2)

,identifierHash,type,countryCode,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,...,productsWished,productsBought,gender,civilityGenderId,civilityTitle,hasProfilePicture,seniority,seniorityAsMonths,seniorityAsYears,websiteLongevity
0,1920991140,user,us,Etats-Unis,en,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
1,1920860068,user,se,Suède,en,3,8,1,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803

In [13]:
chunk_size = len(df) // 5 + ( 1 if len(df)%5 else 0)

for i in range(5):
    start  = i * chunk_size
    end = start + chunk_size
    chunk_df = df.iloc[start:end]
    chunk_df.to_csv(f'ecom_user_data/user_data_{i+5+1}.csv', index = False)